<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" >Dating App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <ng-container   *ngIf="accountService.currentUser$ |async">
           <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Message</a>
          </li>
          <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
         </ng-container>
         <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
        </ul>
        <div class="dropdown">
           <ng-container  *ngIf="(accountService.currentUser$ |async) as user">
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="user photo">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-dark">Welcome {{user.knownAs |titlecase}}</button>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle show" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="dropdown-menu show" aria-labelledby="btnGroupDrop1" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 40px);" data-popper-placement="bottom-start">
                  <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
                  <a class="dropdown-item" (click)="logout()">LogOut</a>
                </div>
              </div>
            </div>
           </ng-container>
        </div>
        <form #loginForm ='ngForm' class="d-flex" autocomplete="off" (ngSubmit)="logIn()" *ngIf="!(accountService.currentUser$ |async)">
          <input class="form-control me-2" name="username"
          type="text" placeholder="username" [(ngModel)]="model.username">
          <input class="form-control me-2" name="password"
          type="password" placeholder="password" [(ngModel)]="model.password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
    </div>
  </nav>
<!---
      <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
        Welcome 
      </a>
      <ul class="dropdown-menu mt-3">
        <li><a class="dropdown-item">Edit Profile</a></li>
        <li><a class="dropdown-item" (click)="logout()">logOut</a></li>

      </ul>
 -->